page-settings {

	.background{
		background-image: url('../assets/imgs/background(2).jpg');
		background-repeat: no-repeat;
		background-size:100% 100%;
		background-position:center bottom;
	}

}

.set_responsive .item-ios {
    padding-left: 16px;
    padding-left: 0;
    }
