page-change-password {
	.background{
		background-image: url('../assets/imgs/background(2).jpg');
		background-repeat: no-repeat;
		background-size:100% 100%;
		background-position:center bottom;
	}

}

.all_input_responsive .item-ios {
    background-color: rgba(255,255,255,0.7);
}

.all_input_responsive .item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: none;
}
