fieldset
{
  /*max-width:500px;*/
  border: 1.5px solid #bbbbb8; 
  padding:8px;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
}

.card{
  border-radius: 0px !important;
  cursor: pointer;
  /*border: 1.5px solid darkgrey !important; */
  transition: all 0.2s ease-in !important;
}
.card:hover{
  border-radius: 0px !important;
  cursor: pointer;
  box-shadow: 1.5mm 1.5mm 15px rgba(0,0,0,0.3); 
}

.tb-property{
  height: 200px;
  overflow-y: auto;
  width: 100%;
}

.fix-heigth{
  height: 200px !important;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 30px;
  z-index: 900;
  /*border-radius: 50%;*/
  /*display: none;*/
}
.btn-group .btn-fab{
  position: fixed !important;
  right: 30px;
  z-index: 1000;
  /*border-radius: 50%;*/
}
#openFab{
  width: 50px;
  bottom: 20px !important;
  /*background-color: rgb(0,116,140)!important;*/
  display: block;
  color: white;
}
#closeFab{
  width: 50px;
  /*background-color: rgb(0,116,140)!important;*/
  bottom: 20px !important;
  display: none;
  color: white;
}
#newFirst{
  width: 50px;
  bottom: 242px !important;
  /*background-color: rgb(112,112,112) !important;*/
  color: white;
}
#oldFirst{
  width: 50px;
  bottom: 316px !important; 
  color: white;
  /*background-color: rgb(112,112,112) !important;*/

}
#lowtohigh{
  width: 50px;
  bottom: 94px !important;
  /*background-color: rgb(112,112,112) !important;*/
  color: white;
}
#hightolow{
  width: 50px;
  bottom: 168px;
  /*background-color: rgb(112,112,112) !important;*/
  color: white;
}

a {
  cursor: pointer;
}

.btn-white{
  background: #0b7997;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}

.fa-envelope{
  color: white;
}

.fa-phone{
  color: white;
}

#list-item{
  padding: 2px;
  margin-top: 20px;
  margin-right: 5px;
  border: 1px solid rgb(0,116,140);
  border-radius: 5px;
  cursor: pointer;
}


.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}