page-signup {

    .background{
        background-image: url('../assets/imgs/background(2).jpg');
        background-repeat: no-repeat;
        background-size:100% 100%;
        background-position:center bottom;
    }

    fieldset {
        max-width:500px;
        border: 1.5px solid darkgrey; 
        padding:8px;
        margin-bottom: 10px !important;
        border-radius: 5px; 
    }

    a {
        cursor: pointer;
        color: #2d8c85;
        /*background-color: #2d8c85;*/
    }

    .font-Impact {
        font-family : "Impact";
    }

    .text-bold{
        font-weight: bold !important;
        font-size:17px !important;
    }

    .samsar-btn{
        background-color: #0b7997;
    }

    .slide-zoom {
        height: 100%;
    }

    .bg-color{
        background-color: #0b7997 !important;
    }
    @media only screen and (min-width:320px)  {
        .title-ios{
            margin-top:0px !important;
        }
    }

}

.title-responsive {
    font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
    text-align: center !important;
    font-weight: 500;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #000;
    margin: 11px 8px 11px 0;
    font-size:17px !important;
}

